/* You can add global styles to this file, and also import other style files */
@import "~@angular-mdc/theme/material";
$mdc-theme-primary: #81d4fa;
$mdc-theme-secondary: #263238;
$mdc-theme-accent: #009688;
